 {% if page.url == '/pages/sign-up' %}
    <div class="flex justify-center lg:flex-1 truncate">
        <a href="/pages/sign-up">
          <h1 class="text-3xl font-bold truncate tracking-wide"> <!-- {{shop.name}} --> NoTW<span class="font-extralight">&trade;</span></h1>
        </a>
                
      </div> 
  
 {% endif %}
 
