{% if section.settings.show_section %}
  {% if section.settings.home_page_only == false or template.name == 'index' %}


<h3 class="about-us-title">{{ section.settings.title | escape }}</h3>
<p class="about-us-paragraph leading-10 px-6 text-center pb-6 ">{{ section.settings.paragraph | escape }}</p>

        {%endif%}
    {%endif%}

{% schema %}
{
    "name": "About Us",
    "settings": [
        {
        "type": "checkbox",
        "id": "show_section",
        "label": "Show About Us",
        "default": true
        },
        {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
        },
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "This is a title"  
        },
         {
        "type": "text",
        "id": "paragraph",
        "label": "Paragraph Text",
        "default": "This is a paragraph"  
        }
    ]
}
{% endschema %}