 <div class="text-medium uppercase font-medium text-center ">
        {{shop.privacy_policy.title}}
    </div>

        <div class="text-sm mx-10 my-10 xl:mx-72">
            {{ shop.privacy_policy | newline_to_br }}
    </div>
