<div class="text-medium uppercase font-medium text-center ">
        {{shop.terms_of_service.title}}
    </div>

        <div class="text-sm mx-10 my-10 xl:mx-72">
            {{ shop.terms_of_service }}
    </div>
